[Desktop Entry]
Categories=Game;GTK;BoardGame;
Name=gsquares
GenericName=Strategy Game
Comment=Game of Box & Dots
Exec=gsquares
Icon=icon.png
NoDisplay=false
Terminal=false
Type=Application
Name[en_US]=gsquares
