[Desktop Entry]
Categories=Game;GTK;BoardGame;
Name=GSquares
GenericName=Strategy Game
Comment=Game of Box & Dots
Exec=GSquares
TryExec=GSquares
Icon=gsquares.png
Terminal=false
Type=Application
